/*my css*/
body { overflow-x: hidden;}
.wrapper-1 { overflow: hidden; margin-left: -15px; margin-right: -15px;}
ul, li { list-style: none; }
.header-ctn  .inner { padding: 30px 0 10px 20px; overflow: hidden;}
.header-ctn  .inner h1 { font-size: 24px;  float: left; margin-right: 10px; margin-top: 0;}
.header-ctn  .inner a {  float: left; margin-top: 2px;}
.header-ctn  p { padding:0 0 30px 20px; color:#999;}
.tab-ctn { overflow: hidden}
.tab-ctn > .col-md-10 > .row:first-child , .tab-ctn > .row:first-child{ background:#f0f0f0; padding: 10px 0; margin: 10px 0;}
#txt-search { max-width: 200px; margin-right: 10px;	}
.list-filter { margin: 0; color:#999;}
.list-filter li { position: relative;}
.list-filter li a { color:#999; font-size: 12px;}
.list-filter li a:hover { color:#000;}
#drop1 { font-size: 18px; font-weight: bold; color:#000; text-decoration: none;}
.progress { margin: 0; height: 6px;}
.table  td{ vertical-align: middle!important;}
.list-completed { overflow: hidden; margin:0;}
.list-completed  li { width: 6px; height: 6px; background:#ddd; float: left; padding: 0; border-radius: 50%; cursor: pointer; margin: 1px; }
.list-completed  li.completed { background:#22baa0;}
.list-completed  li:hover { background:#f08812;} 
.label span { text-transform: uppercase;}

.style-pending { background:#e798ba;}
.style-working { background:#3498db;}
.style-approval { background:#ac0;}
.style-reviewing { background:#8e44ad;}
.style-completed-b { background:#cc4c83;}
.style-completed  { background:#2ecc71;}
.style-cancel  { background:#7f8c8d;}

.dropdown-menu-2  li a{ text-transform: uppercase; font-weight: bold; font-size: 12px;}
.btn-pedding { color:#e798ba!important;}
.btn-assigned { color:#2a6496!important;}
.btn-working { color:#3498db!important;}
.btn-approval { color:#ac0!important;}
.btn-reviewing { color:#8e44ad!important;}
.btn-completed-b { color:#cc4c83!important;}
.btn-completed { color:#2ecc71!important;}
.btn-cancel { color:#7f8c8d!important;}

.dropdown-menu-3  li a{ text-transform: uppercase;  font-size: 12px;}
.link-critical { color:#dc2a2a!important;}
.link-high { color:#fc6c0b!important;}
.link-medium { color:#eeb301!important;}
.link-low { color:#eddea8!important;}

.sidebar-1 { margin: 10px 0; padding-left: 0; }
.sidebar-1 > .inner {background:#f9f9f9; padding: 10px;}
.sidebar-1 header { padding: 10px; font-size: 12px; color:#666;}
.sidebar-1 header a {  color:#666; margin-left: 4px; font-size: 14px;}
.sidebar-1 header a:hover { color:#22baa0;}
.list-project { list-style: none; padding: 0;}
.list-project li { padding: 10px; border-top: solid 1px #ccc; overflow: hidden;}
.list-project li a  i{ color:#666; font-size: 11px;}
.list-project li a i:hover { color:#000;}
.list-project li .box-1 { margin-bottom: 0; float: right;}
.list-project li .box-1 a { margin-left: 4px;}
.list-project li a.link-1 { float: left;}
.btn-trigger {width: 9px; height: 9px; display: inline-block; border-radius: 50%; cursor: pointer}
.btn-trigger:hover  { width: 12px; height: 12px;}
.critical { background:#dc2a2a!important;}
.hight { background:#fc6c0b!important;}
.medium { background:#eeb301!important;}
.low { background:#eddea8!important;}
.wrapper-popup { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background:url(../images/overlay.png) repeat; z-index: 9999; display: none;}
.wrapper-popup .popup { width: 60%; position: absolute; left:50%; margin-left: -30%; top: 50%; background:#fff;}
.form-horizontal { padding: 10px;}
.uploadifive-button { position: relative;}
.btn-close { width: 29px; height: 29px; position: absolute; background: url(../images/close.png) no-repeat; right: -10px; top: -10px;}
.popup .header-row { position: relative;}
.login label { font-size: 12px;}
.wrapper-search { overflow: hidden;}
/*header*/
.header { background:#23272d; padding: 5px 0 1px 0; position: relative;}
.brand { float: left; text-transform: uppercase;  font-weight: bold; position: relative; margin: 10px 15px 0 15px;}
.brand a { color:#fff ; text-decoration: none;}
.brand a span.caret { margin-left: 5px; border-left: 5px solid transparent; border-right: 5px solid transparent;  border-top: 5px solid;}
.frm-search-1 {margin: 8px 5px 0; position: relative;}
.frm-search-1 .txt-search {font-size: 12px; border: none; height: 28px; line-height: 28px; border-radius: 14px; width: 180px; background:#2d4156;  padding: 0 30px 0 10px; transition: width 0.5s ease 0s;}
.frm-search-1 .txt-search:focus { background:#eee; width: 180px;}
.frm-search-1 i { position: absolute; right: 6px; top: 6px;}
/*main-nav*/
.main-nav { }
.main-nav ul { margin: 0; padding-left: 10px;}
.main-nav ul li { display:inline-block;  position: relative;}
.main-nav ul li a { width: 60px; font-size: 11px; text-align: center; display: block; color:#808b9c; text-decoration: none; padding: 5px 0 2px 0;}
.main-nav ul li a:hover, .main-nav ul li a:focus { text-decoration: none;}
.main-nav ul li a:hover i { color:#fff; }
.main-nav ul li a i {  display: block; font-size: 1.7em;  margin: 2px auto;}
.main-nav ul li a b { position: absolute; top:0; right: 7px; background:#ff5f5f; color:#fff; font-size: 11px;}
.main-nav ul li.active { border-bottom: solid 3px #1a7ab9;}
.main-nav ul li.active a { color:#e1e5e9;}
.main-nav ul li.active a:hover { color:#fff;  text-decoration: none;}
.main-nav ul li.active a:focus { text-decoration: none;}
.main-nav ul li.divider { background: none repeat scroll 0 0 #999;  height: 30px;  margin: 0 5px;  opacity: 0.2;   width: 1px;}
.wrapper-user { float: right; padding: 7px 20px 0 5px; position: relative;}
.wrapper-user .hidden-xs-only { font-size: 12px; color:#808b9c;}
.wrapper-user .hidden-xs-only:hover { color:#fff; text-decoration: none;}
.wrapper-user:hover a { text-decoration: none;}
.panel-noti  ,.panel-chat { float: right; font-size: 1.5em; color:#808b9c; position: relative;  padding: 8px 8px 0 8px; margin-top: 2px;}
.panel-noti a  ,.panel-chat a { color:#808b9c; font-weight: normal;} 
.panel-noti a b ,.panel-chat a b { position: absolute; top: 0; right: 4px; font-size: 11px; background:#ff5f5f; }
.panel-noti .panel, .panel-chat .panel  { margin-bottom: 0;}
.panel-noti .dropdown-menu, .panel-chat  .dropdown-menu { padding: 0; min-width: 300px; font-size: 14px;}
.panel-noti .dropdown-menu header, .panel-chat .dropdown-menu header { color:#000;}
.panel-noti .dropdown-menu footer a , .panel-chat .dropdown-menu footer a{ font-size: 11px; color:#2a6496; text-align: right; display: block;}
.panel-noti .dropdown-menu footer a:hover, .panel-chat .dropdown-menu footer a:hover { color:#ed9c28 ;text-decoration: none;}
.main-nav ul li.hide-pc, .hide-pc { display: none;}
.inner-left{ padding-left: 0;}
.inner-right{ padding-right: 0;}
.frm-1 {  height: 500px; overflow-x: hidden;}
#page-header { float: left; background: none; border: none; color: #666;font-weight: 400;}
#page-header .breadcrumb { margin-bottom: 0; padding-right: 5px;}
#page-header .breadcrumb a {color:#666;}
.header-1 { overflow: hidden; background:#f2f4f5; border-bottom: solid 1px #e9e9e9;}
.header-right { padding: 8px 10px 0 0;}
.header-right > a { margin-left: 5px;}
/*popup*/
.header-main { font-size: 16px; display: block; overflow: hidden; background:#f5f5f5; padding: 15px 20px; margin: 0; border-top-left-radius: 5px; border-top-right-radius: 5px; margin: 1px; border-bottom: solid 1px #ddd;}
.header-main h1 a{ margin: 0; color:#666}
.header-main i { color:#666;}
.header-main .breadcrumb { padding-left: 5px;}
.popup { border-radius: 5px;}
.projectrolecanaddstory {margin-top: 30px;font-weight: normal;color: #999;font-style: italic; font-size: 14px;}

.login_body .submit { font-size: 13px;}
.inner-form { margin-bottom: 15px; }
.section { padding: 20px 0 10px 0; border-top: solid 1px #ccc;} 
.section-no-border{border-top: 0px!important;}
.generalForm > .section:first-child {  border-top: none; }
.generalForm  { padding: 15px;}
.generalForm > .section.buttons{ padding-left: 15px; padding-right: 15px; text-align: right; }
.generalForm label { display: block;}
.generalForm select { height: 28px; line-height: 28px;}
.section>.section-summary { padding-left: 50px; padding-right: 0; }
.section>.section-summary h1, .section>.section-summary h2 {
font-size: 18px;
margin-bottom: 10px;
font-weight: 400;
}
.section>.section-summary p {
margin-bottom: 15px;
}
.login_body {
    background:  #d2ece8;
}
.login_body h2 {
    font-size: 24px;
    padding-bottom: 7px;
}
.login_body h4 {
    color: #555;
    font-size: 14px;
    font-weight: normal;
}
.login_body .wrap {
    background: none repeat scroll 0 0 #fff;
    border: 7px solid #22baa0;
    border-radius: 12px;
    box-shadow: 0 0 30px #aaa;
    left: 50%;
    margin: -200px 0 0 -200px;
    padding: 20px;
    position: absolute;
    top: 50%;
    width: 400px;
}
.login {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: 20px;
    padding: 20px 0 10px;
}
.login .notify-bar-button {
    display: none;
}
.login .notify-bar-text ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.login-externalbox {
    clear: both;
    color: #aaa;
    float: none;
    margin-top: 60px;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    width: 360px;
}
.login-externalbox a {
    color: #aaa;
}
.main-ctn .nav.nav-tabs{ padding: 0 15px;}
.main-ctn .tab-ctn { padding: 0 15px;} 
.middle { font-size: 12px; line-height: 32px;}
.btn-default { overflow: hidden;}
.main-nav ul.dropdown-menu-style { padding: 5px 0; min-width: 100px;}
.main-nav ul.dropdown-menu-style li { display: block;}
.main-nav ul.dropdown-menu-style li a { display: block; padding: 3px 20px;clear: both;font-weight: normal;line-height: 1.42857143;color: #333;white-space: nowrap;width: auto;text-align: left;font-size: 14px;}
.main-nav ul.dropdown-menu-style li a:hover{color:#333;}
.main-nav ul.dropdown-menu-style li.active {border-bottom: 0px;}
.main-nav ul.dropdown-menu-style li.active a {background: #fff;}
.main-nav ul.dropdown-menu-style li.active a:hover{color:#333; background: #f5f5f5; }

@media screen and (max-width: 1000px) {
	.main-nav ul li.hide-t { display: none;}
	.main-nav ul li.hide-pc { display: inline-block;}
	
}
@media screen and (max-width: 992px) {
	
	.wrapper-1 { margin: 0;}
	
	.main-ctn .tab-ctn { padding: 0 ;} 
	.sidebar-1 { padding-left: 15px;}
}
@media screen and (max-width: 978px) {
	.section> .section-summary {	padding-left: 15px;}
	.projectrolecanaddstory { margin-top: 5px;}
	.inner-form .col-md-3 label { padding-top: 15px; }
	.inner-form .col-md-3:first-child label { padding-top: 0;}
}
@media screen and (max-width: 768px) {
	.frm-1 { margin: 20px; height: 400px;}
	.main-nav { clear: both; padding: 10px 0 0 0;}
	.main-nav ul li a { width: 100%;}
	.main-nav ul li { width: 16%;}
	.main-nav ul li a b { right: 28%}
	.main-nav ul li.divider { display: none;}
	.wrapper-popup .popup { width: 80%; margin-left: -40%; }
	.tbl-1 tr th:nth-child(2), .tbl-1 tr th:nth-child(3), .tbl-1 tr th:nth-child(6), .tbl-1 tr th:nth-child(9) { display: none;}
	.tbl-1 tr td:nth-child(2), .tbl-1 tr td:nth-child(3), .tbl-1 tr td:nth-child(6), .tbl-1 tr td:nth-child(9) { display: none;}
	.tbl-2 tr th:nth-child(2), .tbl-2 tr th:nth-child(4) { display: none;}
	.tbl-2 tr td:nth-child(2), .tbl-2 tr td:nth-child(4) { display: none;}
	.wrapper-search { float: left; min-width: 303px; padding-top: 10px;}
	.wrapper-search-1{min-width: 323px}
	.wrapper-user { margin-right: 90px;}
	.wrapper-user .hidden-xs-only {display: none;}
	.panel-noti  { position: absolute; top: 5px; right: 5px;}
	.panel-chat  { position: absolute; top: 5px; right: 45px;}
}
@media screen and (max-width: 640px) {
	.panel-noti .dropdown-menu, .panel-chat  .dropdown-menu {  min-width: 250px; }
	.brand { display: none;}
	.frm-search-1 .txt-search { width: 100px;}
	.wrapper-popup .popup { width: 90%; margin-left: -45%; }
	.tbl-1 tr th:nth-child(5), .tbl-1 tr th:nth-child(7) { display: none;}
	.tbl-1 tr td:nth-child(5), .tbl-1 tr td:nth-child(7) { display: none;}
	.tbl-2 tr th:nth-child(5) { display: none;}
	.tbl-2 tr td:nth-child(5) { display: none;}
	.main-nav ul li { width: 15%;}
	.main-nav ul li a b { right: 20%}
	.hide-m { display: none;}
	.hide-pc { display: inline-block;}
	#txt-search{ width: 140px;}
	.wrapper-search { min-width: 251px;}
	#txt-search { float: left!important; margin-bottom: 10px;}
	.login_body .wrap { width: 360px; margin-left: -180px;}
}
@media screen and (max-width: 480px) {
	.header-right { float: none!important; padding: 0 0 15px 15px; width: 190px; margin: 0 auto;}
	.login_body .wrap { width: 300px; margin-left: -150px;}
	.popup .form-control { width: 90%;}
	#myform .form-control { width: 100%;}
	.login_body .form-control { width: 100%;}
	.frm-1 { margin: 10px; height: 300px;}
	.frm-1 table tr td { padding: 5px; text-align: left;}
	.frm-search-1 .txt-search:focus { width: 145px;}
	.main-nav ul li a b { right: 5%}
	.tbl-1 tr td:nth-child(8), .tbl-1 tr th:nth-child(8) { display: none;}
	.tbl-2 tr td:nth-child(6), .tbl-2 tr th:nth-child(6) { display: none;}
}
@media screen and (max-width:420px) {
	.popup .form-control { width: 75%;}
}
@media screen and (max-width:360px) {
	
	.popup .form-control { width: 59%;}

}